/*@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'fontawesome-all.min.css';


// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base.


	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component. Commented out the import of files we don't need. Please confirm that we can remove them

	//@import 'components/row'; 
	//@import 'components/box';
	@import 'components/button';
	@import 'components/features';
	@import 'components/form';
	//needs fixing for our needs start
	@import 'components/icon';
	@import 'components/image';
	//needs fixing for our needs end
	@import 'components/list';
	@import 'components/actions';
	@import 'components/contact';
	@import 'components/icons';
	@import 'components/menu';
	@import 'components/section';
	@import 'components/split';
	@import 'components/spotlights';
	//@import 'components/table';
	@import 'components/wrapper';

// Layout.

	@import 'layout/header';
	@import 'layout/wrapper';
	@import 'layout/footer';
	@import 'layout/sidebar';
	@import 'layout/intro';
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

body {
  margin: 0;
  background-color: black;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "logo" "mainer" "footer";
  color: white;
  font-family: "Ubuntu", sans-serif;
}
#app a {
  text-decoration: none;
  color: white;
}

#app > header {
  grid-area: header;
  display: flex;
  padding: 2rem;
  gap: 1rem;
}
#app > header h1 {
  flex-grow: 1;
  display: block;
}
#app > header h1 a {
  font-size: clamp(16px, 5vw, 32px);
}
#app > header div {
  display: flex;
  gap: 1rem;
}
#app > header div ul {
  display: flex;
  gap: 1rem;
}
#app > header div button {
  position: relative;
  bottom: 0.4rem;
}
#app > header .active {
  color: #999999;
}

#app > .logo {
  display: flex;
  justify-content: center;
}
#app > .logo img {
  object-fit: cover;
  width: 100vw;
}

#app > .inner {
  grid-area: mainer;
  padding: 0 3rem;
  padding-bottom: 1rem;
}
#app > .inner .features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 24px;
}
#app > .inner .menu-cards {
  z-index: 1;
  padding: 1rem;
}
#app > .inner .menu-cards h2 {
  font-size: clamp(14px, 5vw, 20px);
  padding-bottom: 1rem;
}
#app > .inner .menu-cards:nth-child(2n+1) {
  border: 1px solid silver;
  border-left: none;
  border-top: none;
}
#app > .inner .menu-cards:nth-last-child(2) {
  border-bottom: none;
}
#app > .inner .menu-cards:nth-child(2n) {
  border: 1px solid silver;
  border-right: none;
  border-top: none;
  border-left: none;
}
#app > .inner .menu-cards:last-child {
  border-bottom: none;
}

#app > footer {
  padding: 0 1rem;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
#app > footer .footer-children {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#app > footer .footer-children h4 {
  font-size: clamp 12px, 5vw, 14px;
}

/*# sourceMappingURL=main.css.map */
